/* Estilo básico */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 70px; /* Ajuste para garantir que o conteúdo não fique sob a navbar fixa */
}

/* Estilo da Navbar */
#header .container {
    max-width: 100%;
    padding: 0 15px;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand img {
    max-width: 250px; /* Ajuste o tamanho do seu logo conforme necessário */
}

.navbar-toggler {
    background-color: #ddd;
}

/* Estilo do conteúdo principal */
.container {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo da tabela */
.table {
    margin-top: 20px;
}

.table th {
    background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

/* Estilo dos botões */
.btn-primary, .btn-danger {
    color: #fff;
    margin-right: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

/* Estilo dos links */
.nav-link {
    color: #007bff;
    transition: color .15s ease-in-out;
}

.nav-link:hover {
    color: #0056b3;
}

/* Estilo do rodapé, se necessário */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
